@font-face {
    font-family: "Inter";
    src: url("font/static/Inter_18pt-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Bold";
    src: url("font/static/Inter_18pt-Bold.ttf") format("truetype");
}

/* =========================
   BODY
========================= */

body{
    margin:0;
    font-family:"Inter Bold", "Inter", Arial, Helvetica, sans-serif;
    background:#fdfcfb;
}

/* =========================
   HEADER
========================= */

header{
    position:sticky;
    top:20px;
    margin:20px 120px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px 0;
    border-radius:15px;
    background:rgba(255,255,255,0.8);
    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);
    box-shadow:0 1px 6px rgba(0,0,0,0.08);
    z-index:1000;
}

/* =========================
   LOGO
========================= */

.logo{
    font-size:22px;
    font-weight:600;
    margin-left:25px;
    cursor:pointer;
}

/* =========================
   NAV BUTTON
========================= */

.nav-button{
    background:transparent;
    border:none;
    margin-right:40px;
    padding:4px 8px;
    border-radius:14px;
    display:flex;
    align-items:center;
    gap:6px;
    cursor:pointer;
    position:relative;
    transition:0.15s;
}

.nav-button:hover{
    background:rgba(0,0,0,0.06);
}

/* =========================
   USER
========================= */

.account-name{
    font-size:15px;
}

.account-icon{
  width:40px;
  height:40px;
  border-radius:50%;
  object-fit:cover;
}

.chevron-icon{
    width:13px;
}

/* =========================
   DROPDOWN
========================= */

.dropdown{
    position:absolute;
    top:55px;
    right:0;
    background:white;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.12);
    overflow:hidden;
    display:none;
    min-width:160px;
    z-index:999;
}

.dropdown.active{
    display:block;
}

/* ITEM */
.item{
    display:flex;
    align-items:center;
    gap:8px;
    padding:12px;
    cursor:pointer;
    font-size:14px;
}

.item.black{
    color:black;
}

.item.black:hover{
    background:#f2f2f2;
}

.item.red{
    color:red;
}

.item.red:hover{
    background:#ffecec;
}

/* =========================
   SVG ICONS
========================= */

.icon-svg{
    width:18px;
    height:18px;
    display:inline-block;
    stroke:currentColor;
}

/* =========================
   MAIN
========================= */

main{
    margin:60px 120px;
    font-size:24px;
}

/* =========================
   PROFILE PAGE
========================= */

.profile-page{
    margin:60px 120px;
}

.profile-card{
    display:flex;
    align-items:center;
    gap:30px;
    margin-top:40px;
}

.profile-card img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
}

.profile-info h2{
    margin:0;
    font-size:22px;
}

.profile-info p{
    margin:5px 0 0;
    color:gray;
}