body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* LOGIN */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1e293b;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* MAIN */
.main {
  padding: 40px;
}