.dropdown{
    position:absolute;
    top:55px;
    right:0;
    background:white;
    border-radius:12px;
    display:none;
    min-width:170px;
    overflow:hidden;
}

.dropdown.active{
    display:block;
}

.item{
    display:flex;
    align-items:center;
    gap:10px;
    padding:12px;
    cursor:pointer;
}

.item.black:hover{
    background:#f2f2f2;
}

.item.red{
    color:#e63946;
}

.item.red:hover{
    background:#ffecec;
}
